[Unit]
Description=Immich PostgreSQL Database
After=immich.pod

[Container]
Pod=immich.pod
Label=app=immich
ContainerName=immich-postgres
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
ShmSize=128mb

Volume=immich-postgres-data:/var/lib/postgresql/data
Volume=%d:/run/credentials:ro,Z,nodev,nosuid,noexec

Environment=TZ={{ host_time_zone }}
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=immich
Environment=POSTGRES_PASSWORD_FILE=/run/credentials/{{ immich_database_password_name }}
Environment=POSTGRES_INITDB_ARGS="--data-checksums"


[Service]
Restart=always
