[Unit]
Description=Immich Valkey (Redis Replacement)
After=immich.pod

[Container]
Pod=immich.pod
Label=app=immich
ContainerName=immich-valkey
Image=docker.io/valkey/valkey:9@sha256:3b55fbaa0cd93cf0d9d961f405e4dfcc70efe325e2d84da207a0a8e6d8fde4f9

Volume=immich-valkey-data:/data

[Service]
Restart=always
