Match User {{ remote_service_user_name }}
  PasswordAuthentication no
  X11Forwarding no
  AllowTcpForwarding yes
  PermitOpen localhost:{{ remote_service_port }}
  AllowAgentForwarding no
  PermitTunnel no
  ForceCommand echo 'do-not-send-commands'
