- client_id: 'opencloud-web-id'
  client_name: 'OpenCloud Web'
  public: true
  authorization_policy: 'two_factor'
  require_pkce: true
  pkce_challenge_method: 'S256'
  grant_types:
    - 'authorization_code'
    - 'refresh_token'
  lifespan: 'opencloud_web'
  access_token_signed_response_alg: 'RS256'
  redirect_uris:
    - 'https://{{ opencloud_cloud_subdomain }}.{{ host_maindomain }}/'
    - 'https://{{ opencloud_cloud_subdomain }}.{{ host_maindomain }}/oidc-callback.html'
    - 'https://{{ opencloud_cloud_subdomain }}.{{ host_maindomain }}/oidc-silent-redirect.html'
  claims_policy: 'opencloud_policy'
  scopes:
    - 'openid'
    - 'profile'
    - 'email'
    - 'offline_access'
    - 'opencloud_scope'
  consent_mode: 'pre-configured'
  pre_configured_consent_duration: '1 year'

- client_id: 'opencloud-android'
  client_name: 'OpenCloud Android'
  public: true
  authorization_policy: 'two_factor'
  require_pkce: true
  pkce_challenge_method: 'S256'
  grant_types:
    - 'authorization_code'
    - 'refresh_token'
  lifespan: 'opencloud_native'
  access_token_signed_response_alg: 'RS256'
  redirect_uris:
    - 'oc://android.opencloud.eu'
  claims_policy: 'opencloud_policy'
  scopes:
    - 'openid'
    - 'profile'
    - 'email'
    - 'offline_access'
    - 'opencloud_scope'
  consent_mode: 'pre-configured'
  pre_configured_consent_duration: '1 year'

- client_id: 'opencloud-ios'
  client_name: 'OpenCloud iOS'
  public: true
  authorization_policy: 'two_factor'
  require_pkce: true
  pkce_challenge_method: 'S256'
  grant_types:
    - 'authorization_code'
    - 'refresh_token'
  lifespan: 'opencloud_native'
  access_token_signed_response_alg: 'RS256'
  redirect_uris:
    - 'oc://ios.opencloud.eu'
    - 'oc.ios://ios.opencloud.eu'
  claims_policy: 'opencloud_policy'
  scopes:
    - 'openid'
    - 'profile'
    - 'email'
    - 'offline_access'
    - 'opencloud_scope'
  consent_mode: 'pre-configured'
  pre_configured_consent_duration: '1 year'

- client_id: 'opencloud-desktop'
  client_name: 'OpenCloud Desktop'
  public: true
  authorization_policy: 'two_factor'
  require_pkce: true
  pkce_challenge_method: 'S256'
  grant_types:
    - 'authorization_code'
    - 'refresh_token'
  lifespan: 'opencloud_native'
  access_token_signed_response_alg: 'RS256'
  redirect_uris:
    - 'http://127.0.0.1'
    - 'http://localhost'
  claims_policy: 'opencloud_policy'
  scopes:
    - 'openid'
    - 'profile'
    - 'email'
    - 'offline_access'
    - 'opencloud_scope'
  consent_mode: 'pre-configured'
  pre_configured_consent_duration: '1 year'
