[Unit]
Description=Opencloud server container
After=opencloud-collabora.service
Wants=opencloud-collabora.service

[Service]
Restart=always

[Container]
Pod=opencloud.pod
Label=app=opencloud
ContainerName=opencloud-server

Image=docker.io/opencloudeu/opencloud-rolling:{{ opencloud_version }}

User=0

Entrypoint=/bin/bash
Exec=-c "if [ ! -f /etc/opencloud/opencloud.yaml ]; then opencloud init; fi; exec opencloud server"

# OpenCloud native environment variables
Environment=OC_URL=https://{{ opencloud_cloud_subdomain }}.{{ host_maindomain }}
# self generated certificates: true, otherwise false:
Environment=OC_INSECURE={{ 'true' if deploy_purpose == 'development' else 'false' }}
# connection to reverse proxy without TLS
Environment=PROXY_TLS=false

# do not run authentication service -> integrate authelia instead
Environment=OC_EXCLUDE_RUN_SERVICES=idp
Environment=OC_ADD_RUN_SERVICES=collaboration

# collaboration
#Environment=COLLABORATION_WOPI_SRC=https://{{ opencloud_cloud_subdomain }}.{{ host_maindomain }}
Environment=COLLABORATION_WOPI_SRC=http://127.0.0.1:9200
#Environment=COLLABORATION_APP_ADDR=https://{{ opencloud_collabora_subdomain }}.{{ host_maindomain }}
Environment=COLLABORATION_APP_ADDR=http://127.0.0.1:9980
Environment=COLLABORATION_APP_INSECURE=false
Environment=COLLABORATION_APP_NAME=CollaboraOnline
Environment=COLLABORATION_APP_PRODUCT=Collabora
Environment=COLLABORATION_APP_ICON=https://{{ opencloud_collabora_subdomain }}.{{ host_maindomain }}/favicon.ico

# External Authelia OIDC Links
Environment=OC_OIDC_ISSUER=https://{{ authelia_subdomain }}.{{ host_maindomain }}
Environment=PROXY_OIDC_REWRITE_WELLKNOWN=true
Environment=PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD=jwt
# verify user information with authelia, do not rely on jwt alone
Environment=PROXY_OIDC_SKIP_USER_INFO=false
Environment=PROXY_ROLE_ASSIGNMENT_DRIVER=oidc
Environment=PROXY_ROLE_ASSIGNMENT_OIDC_CLAIM=opencloud_role
Environment=PROXY_USER_OIDC_CLAIM=preferred_username
Environment=PROXY_USER_CS3_CLAIM=username

# Webfinger OIDC IDs and scopes
Environment=WEB_OIDC_CLIENT_ID=opencloud-web-id
Environment=WEB_OIDC_SCOPE="openid profile email opencloud_scope offline_access"
Environment=WEBFINGER_WEB_OIDC_CLIENT_ID=opencloud-web-id
Environment=WEBFINGER_WEB_OIDC_CLIENT_SCOPES="openid profile email opencloud_scope offline_access"
Environment=WEBFINGER_ANDROID_OIDC_CLIENT_ID=opencloud-android
Environment=WEBFINGER_ANDROID_OIDC_CLIENT_SCOPES="openid profile email opencloud_scope offline_access"
Environment=WEBFINGER_IOS_OIDC_CLIENT_ID=opencloud-ios
Environment=WEBFINGER_IOS_OIDC_CLIENT_SCOPES="openid profile email opencloud_scope offline_access"
Environment=WEBFINGER_DESKTOP_OIDC_CLIENT_ID=opencloud-desktop
Environment=WEBFINGER_DESKTOP_OIDC_CLIENT_SCOPES="openid profile email opencloud_scope offline_access"

# Internal Identity Management
Environment=GRAPH_USERNAME_MATCH=none
Environment=GRAPH_LDAP_SERVER_WRITE_ENABLED=true
Environment=GRAPH_ASSIGN_DEFAULT_USER_ROLE=false

# Account Provisioning
Environment=PROXY_AUTOPROVISION_ACCOUNTS=true
Environment=PROXY_AUTOPROVISION_CLAIM_USERNAME=preferred_username
Environment=PROXY_AUTOPROVISION_CLAIM_EMAIL=email
Environment=PROXY_AUTOPROVISION_CLAIM_DISPLAYNAME=name
Environment=PROXY_AUTOPROVISION_CLAIM_GROUPS=opencloud_groups

# storage and configuration paths
Environment=PROXY_CSP_CONFIG_FILE_LOCATION=/etc/opencloud/csp.yaml
Environment=OC_BASE_DATA_PATH=/var/lib/opencloud
Environment=OC_CONFIG_DIR=/etc/opencloud

# host mounts
Volume={{ opencloud_dir_config_opencloud }}:/etc/opencloud:Z
Volume={{ opencloud_dir_data }}:/var/lib/opencloud:Z
