# Security https://www.authelia.com/configuration/security/access-control/
access_control:
  default_policy: 'deny'

  rules:
    - domain: '{{ static_website_subdomain }}.{{ host_maindomain }}'
      policy: 'two_factor'

    - domain: '{{ immich_subdomain }}.{{ host_maindomain }}'
      subject:
        - ['group:owner']
      policy: 'one_factor'

    - domain: '{{ immich_subdomain }}.{{ host_maindomain }}'
      policy: 'two_factor'

    - domain: '{{ opencloud_subdomain }}.{{ host_maindomain }}'
      policy: 'two_factor'
